.NewCollection{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    max-width: 100vw;
}
.NewCollection h1{
   margin: 20px  auto;
}
.NewCollection hr{
    margin: 0px 50px 50px 50px;
}
.collections{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}