.relatedproducts{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
}
.relatedproducts hr{
    height: 3px;
    background: black;
    width: 100px;
    align-items: center;
    margin: auto;
    border-radius: 6px;
}
.relatedproducts-item{
    display: flex;
    margin: 20px;
    
}